{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to LAMA! {% endblock %}</h1>
    <p> This is a platform for immigrants 
    to connect with one another, find community and support, and 
    stay updated on various topics, such as immigration news.
    We hope you find this website helpful.
    </p>
    <p> As you use our platform, please be mindful of the following <b>Community Guidelines:</b>
        <ul>
        <li> Treat one another with kindness and respect. </li>
        <li> Be mindful of the fact that everyone has a unique path to immigration. </li>
        <li> Be mindful of the private and/or personal information you share with others. </li>
        <li> Think twice about any legal advice you receive from anyone that is NOT labeled a legal expert on this platform. </li>
        <li><b> Discrimination and foul/disrespectful language of any kind are <u>prohibited</u> on this platform. </b></li>
        </ul>
    </p>
    <p> We hope that this platform is a source of support and community for you as you go through your immigration journey.</p>
    <p> With love,
    <br> Mehtap, Ana, and Lisa </p>
{% endblock %}