{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Timeline for the hashtag you entered: {% endblock %}</h1>
    {% for toot in timeline %}
        <div class='message'>
            <h3>{{ toot['account']['username'] }}</h3>
            <p>{{ toot['content'] }}</p>
            {% if toot['media_attachments'] %}
            <img src="{{ toot['media_attachments'][0]['url'] }}"></img>
            {% endif %}
            <a href="/immigration/connect/?={{ toot['url']}}">
                <button type="Respond">Respond</button>
            </a>
            <p>{{ toot['url'] }}</p>
        </div>
    {% endfor %}
{% endblock %}